.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* Utiliza a altura total da viewport */
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  font-weight: bold;
}
